In [7]:
import pandas as pd

In [4]:
df = pd.read_csv('/root/financial_graph/output/supplier_info.csv', sep='\t', encoding='gbk')

In [5]:
df.show()

AttributeError: 'DataFrame' object has no attribute 'show'

In [6]:
df.iloc[0:5]

   id       gpdm            gysmc  bgnd  order  gysbl
0   0  000791.SZ  四川美富特环境治理有限责任公司  2017      1   5.87
1   0  000791.SZ       华研风电设备有限公司  2018      1  11.59
2   0  000791.SZ     兰州中来电化设备有限公司  2019      1   7.42
3   0  000791.SZ    山东贝特尔环保科技有限公司  2017      2   5.64
4   0  000791.SZ     新疆金风科技股份有限公司  2018      2   9.70

In [5]:
import re
pattern_cn = re.compile(u'[\u4e00-\u9fa5]+')
pattern_en = re.compile(u'[a-zA-Z]+')
if not (len(re.findall(pattern_cn, '1')) + len(re.findall(pattern_en, '1')) == 0):
    print('ok')

In [6]:
re.split(' ', '')

['']

In [ ]:
df = pd.DataFrame(columns=['mc'])